@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800&display=swap');

@font-face {
  font-family: sofia-fallback;
  size-adjust: 100%;
  src: local('Helvetica Neue'), local('Helvetica'), local('Arial');
}
